---
---

@import "minimal-mistakes";

// Theme overrides

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 540x;
  height: 405px;

  @include breakpoint($large) {
    padding: 0px;
    border: 0px solid $border-color;
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 300px;
    border-radius: 0%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}